body
{
    background-color:#E46C0B;
    text-align:center;
}
.Numbers
{
    width: 16px;
}
#lblSubGame
{
    margin-top:5px;
    margin-bottom:10px;
    color:#C00403;
    font-size:x-large;
    font-weight:bold;
}
#txtSubGame
{
    width: 40px;
}
.addbtns
{
    margin-bottom:8px;
}
#lblStrongNumber
{
    display:block;
    margin-right: 120px;
}
.added
{
    margin-left:4px;
}
#container {
    position: relative;
}

#navi,
#errori, 
#infoi {
    width: 100%;
    height: 100%;
    position: absolute;
}

#errori,
#infoi {
    z-index: 10;
}
